In [1]:
import pandas as pd

In [16]:
stopsDF = pd.read_csv("stops.txt")

In [17]:
stopsDF

            stop_id                             stop_name   stop_lat  stop_lon
0       7010B158131          Ulsterbus Depot, stop 158131  54.996629 -7.317866
1       7010B158241             Magee Campus, stop 158241  55.004476 -7.321782
2       7040B107131               Cullaville, stop 107131  54.062045 -6.643525
3       7040B139481                    Newry, stop 139481  54.168253 -6.339098
4       7040B139491           Buttercrane SC, stop 139491  54.172871 -6.340996
...             ...                                   ...        ...       ...
10068   8540B155951  Monaghan County Council, stop 155951  54.242481 -6.970946
10069  8540B1560101               Aughnacloy, stop 156011  54.416354 -6.978876
10070  8540B1560201                  Emyvale, stop 156021  54.340895 -6.959432
10071   8540B156591               Aughnacloy, stop 156591  54.416451 -6.978658
10072   8540B601221           Lough Na Glack, stop 601221  53.970999 -6.701938

[10073 rows x 4 columns]

In [7]:
#function to return number after char 'B' in the stop_id column
def substring_after(s):
       
    return s.partition('B')[2]

In [18]:
#check if all stop_id are in same format, split by char 'B'
stoppoint_ids = []

for stop_id in stopsDF['stop_id']:
    try:       
        stoppoint_ids.append(int(substring_after(stop_id)))
    except:
        #if not in same format
        print('stop id ' + stop_id + " has a different format")

stop id 8220GD007829 has a different format
stop id 8220GD007837 has a different format
stop id 8220GD007841 has a different format
stop id 8220VIR07491 has a different format
stop id 8230GD10105 has a different format
stop id 8230GD10106 has a different format
stop id 8230GD10107 has a different format
stop id 8230GD10108 has a different format
stop id 8230GD10109 has a different format
stop id 8230GD10110 has a different format
stop id 8230GD10150 has a different format
stop id 8230GD10151 has a different format
stop id 8230GD10152 has a different format
stop id 8230GD10153 has a different format
stop id 8230GD10154 has a different format
stop id 8230GD10335 has a different format
stop id 8230GD10385 has a different format
stop id 8240GD007847 has a different format
stop id 8240GD007848 has a different format
stop id 8240GD10336 has a different format
stop id 8250GD10091 has a different format
stop id 8250GD10092 has a different format
stop id 8250GD10093 has a different format
stop id 8250GD10096 has a different format
stop id 8250GD10097 has a different format
stop id 8250GD10098 has a different format
stop id 8250GD10103 has a different format
stop id 8250GD10104 has a different format
stop id 8250GD10155 has a different format
stop id 8250GD10156 has a different format
stop id 8250GD10158 has a different format
stop id 8250GD10159 has a different format
stop id 8250GD10160 has a different format
stop id 8260GD10267 has a different format
stop id 8260GD10268 has a different format
stop id 8260GD10386 has a different format
stop id 8260GD10387 has a different format
stop id 8260GD10388 has a different format
stop id 8340BB330391 has a different format
stop id 8350GD10395 has a different format
stop id 8440352291 has a different format
stop id 84605257301 has a different format
stop id 8470BB555621 has a different format
stop id 8510BB556291 has a different format

We can see that there are many stops with an alternative format so a different approach is needed. This data shows that there are stops that are split by letters other than 'B', are stops where there are 'BB' letter chars, and are stops where there are no letter chars e.g. 8440352291 

These stops need to be accounted for when deriving the stop number

In [20]:
stopsDF

            stop_id                             stop_name   stop_lat  stop_lon
0       7010B158131          Ulsterbus Depot, stop 158131  54.996629 -7.317866
1       7010B158241             Magee Campus, stop 158241  55.004476 -7.321782
2       7040B107131               Cullaville, stop 107131  54.062045 -6.643525
3       7040B139481                    Newry, stop 139481  54.168253 -6.339098
4       7040B139491           Buttercrane SC, stop 139491  54.172871 -6.340996
...             ...                                   ...        ...       ...
10068   8540B155951  Monaghan County Council, stop 155951  54.242481 -6.970946
10069  8540B1560101               Aughnacloy, stop 156011  54.416354 -6.978876
10070  8540B1560201                  Emyvale, stop 156021  54.340895 -6.959432
10071   8540B156591               Aughnacloy, stop 156591  54.416451 -6.978658
10072   8540B601221           Lough Na Glack, stop 601221  53.970999 -6.701938

[10073 rows x 4 columns]

In [47]:
#stop numbers are also in stop_name

def reverse_substring(s):
    s = s.strip()    
    return s.split()[-1]

In [64]:
#check if all stop_name format exceptions and insert them into dict, with stop name as key
stoppoint_ids = {
    
}

for name in stopsdf['stop_name']:
    try:       
        stoppoint_ids.update({name:int(reverse_substring(name))})
    except:
        #if not in same format
        print('stop name ' + name + " has a different format")
        stoppoint_ids.update({name:0})

stop name Killeen Bridge has a different format
stop name Lesson Street Lower has a different format
stop name Russell Lane, Stop No.10334 has a different format
stop name Stop No.139741 has a different format
stop name Black Ash Park has a different format
stop name Hazelwood Cork has a different format

In [66]:
#map stop nums to stop names and add to dataframe
stopsDF['stop_num'] = stopsDF['stop_name'].map(stoppoint_ids)

In [73]:
#export to csv
stopsDF.to_csv("stops_with_nums.csv",header = None,index=False)