In [2]:
import time
import datetime
import pandas as pd

In [5]:
#read in csv files
leavetimesRaw = pd.read_csv("leavetimesRandomSample.csv", delimiter=",")
#tripsRaw = pd.read_csv("rt_trips_DB_2018.txt", delimiter=";")
rawData = [leavetimesRaw]

In [6]:
#format datetime columns
def change_datetime_format(df):
    df.DAYOFSERVICE = pd.to_datetime(df.DAYOFSERVICE)
    df.LASTUPDATE = pd.to_datetime(df.LASTUPDATE)

In [9]:
#drop nan features if threshold exceeded (set to 80%)
def drop_nan_column(df):
    df.dropna(axis = 1, thresh = (len(df)//100) * 80 , inplace = True)

In [10]:
#drop features with constant values
def drop_constant_column(df):
    for column in df.columns:
        if len(df[column].unique()) == 1:
            df.drop(column,axis=1, inplace = True)

In [11]:
start = time.time()
for dataset in rawData:
    change_datetime_format(dataset)
    drop_nan_column(dataset)
    drop_constant_column(dataset)
    
leavetimesRaw.to_csv("leavetimes2018.csv", index= False)
#tripsRaw.to_csv("trips2018.csv", index=False)
#totaltime = time.time() - start

In [12]:
leavetimesRaw.isnull().values.sum()

0

In [13]:
leavetimesRaw

,Unnamed: 0,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,LASTUPDATE
0,394018,2018-01-02,5955650,27,2001,55251,55251,54796,54796,1932322,2018-01-09 20:18:05
1,100432088,2018-11-06,8106589,24,1863,58214,58214,58188,58188,2534861,2018-11-15 09:08:26
2,52104738,2018-06-10,6877646,4,2460,75715,75715,75703,75703,2406867,2018-06-18 09:07:55
3,44445470,2018-05-03,6653597,1,5161,31200,31200,31213,31213,1001193,2018-06-25 18:51:43
4,116624047,2018-12-30,8578911,22,2099,44620,44620,44947,44947,2868400,2019-01-16 18:16:31
...,...,...,...,...,...,...,...,...,...,...,...
5847451,44927571,2018-05-04,6651489,34,2219,29755,29755,29863,29863,2868318,2018-06-25 19:01:32
5847452,111826337,2018-12-14,8180674,52,404,51912,51912,52346,52365,2693231,2018-12-24 09:29:45
5847453,22747569,2018-03-13,6395193,15,2394,85527,85527,85549,85564,1001182,2018-03-21 10:00:25
5847454,89529059,2018-10-01,7784521,14,4243,85404,85404,85491,85491,2868380,2018-10-22 21:50:42
5847455,29462204,2018-04-02,6585282,13,85,55109,55109,55197,55197,2868342,2018-04-10 15:19:02